section {
    width: 100%;
    margin: 0 0 0 3em;
    padding: 0;
}

main h3 {
    width: 100%;
    text-align: left;
    margin-top: .5em;
    padding-left: 0;
    margin-right: 0;
}

section p {
    margin: .5em;
}

section ul {
    margin-left: 2em;
}

.destaque-vermelho {
    color: #ff0000;
    font-weight: bold;
}

.portifolio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 2.5em;
}

footer {
    display: flex;
    width: 100%;
    height: 10vh;
    border-top: 1px solid #ccc;
    justify-content: center;
    align-items: center;
}

#destaque {
    font-weight: bold;
    color: #ff0000;
}